# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## GitHub metadata, including this file ##########

/.github/         @maximedenes
# Secondary maintainer @Zimmi48

########## Build system ##########

/Makefile*        @gares
/dev/tools/make_git_revision.sh @gares

/configure*       @ejgallego

/META.coq.in      @ejgallego

/dev/build/windows @MSoegtropIMC
# Secondary maintainer @maximedenes

########## CI infrastructure ##########

/dev/ci/          @coq/ci-maintainers
/.travis.yml      @coq/ci-maintainers
/.gitlab-ci.yml   @coq/ci-maintainers
/Makefile.ci      @coq/ci-maintainers
/dev/ci/nix	@coq/nix-maintainers

/dev/ci/user-overlays/*.sh @ghost
# Trick to avoid getting review requests
# each time someone adds an overlay

/dev/ci/*.bat          @coq/ci-maintainers

*.nix             @coq/nix-maintainers

azure-pipelines.yml @coq/ci-maintainers
/dev/ci/azure* @coq/ci-maintainers

########## Documentation ##########

/README.md        @Zimmi48
# Secondary maintainer @maximedenes

/INSTALL*         @Zimmi48
# Secondary maintainer @maximedenes

/CONTRIBUTING.md  @Zimmi48
# Secondary maintainer @maximedenes

/CODE_OF_CONDUCT.md    @Zimmi48
# Secondary maintainer @mattam82

/dev/doc/         @Zimmi48
# Secondary maintainer @maximedenes

/dev/doc/MERGING.md @coq/pushers
# This ensures that all members of the @coq/pushers
# team are notified when the merging doc changes.

/dev/doc/changes.md    @ghost
# Trick to avoid getting review requests
# each time someone modifies the dev changelog

/doc/             @coq/doc-maintainers
/Makefile.doc     @coq/doc-maintainers

/man/             @silene
# Secondary maintainer @maximedenes

/doc/plugin_tutorial/ @coq/plugin-tutorial-maintainers

########## Coqchk ##########

/checker/               @ppedrot
/test-suite/coqchk/     @ppedrot
# Secondary maintainers @maximedenes

########## Coq lib ##########

/clib/            @ppedrot
/test-suite/unit-tests/clib/ @ppedrot
# Secondary maintainer @ejgallego

/lib/             @ejgallego
# Secondary maintainer @ppedrot

/lib/cWarnings.* @maximedenes
# Secondary maintainer @ejgallego

########## Proof engine ##########

/engine/          @ppedrot
# Secondary maintainer @aspiwack

/engine/universes.* @SkySkimmer
/engine/univops.* @SkySkimmer
/engine/uState.* @SkySkimmer
# Secondary maintainer @mattam82

########## CoqIDE ##########

/ide/             @ppedrot
/test-suite/ide/  @ppedrot
# Secondary maintainers @gares @herbelin

########## Interpretation ##########

/interp/          @herbelin
# Secondary maintainer @ejgallego

########## Kernel ##########

/kernel/          @maximedenes
# Secondary maintainers @barras @ppedrot

/kernel/byterun/  @maximedenes
# Secondary maintainer @silene

/kernel/sorts.* @SkySkimmer
/kernel/uGraph.* @SkySkimmer
/kernel/univ.* @SkySkimmer
# Secondary maintainer @mattam82

########## Library ##########

/library/         @silene
# Secondary maintainer @gares

########## Parser ##########

/coqpp/           @coq/parsing-maintainers
/gramlib/         @coq/parsing-maintainers
/parsing/         @coq/parsing-maintainers

########## Plugins ##########

/plugins/btauto/  @ppedrot
# Secondary maintainer @herbelin

/plugins/cc/           @PierreCorbineau
# Secondary maintainer @herbelin

/plugins/derive/        @aspiwack
# Secondary maintainer @ppedrot

/plugins/extraction/    @maximedenes

/plugins/firstorder/   @PierreCorbineau
# Secondary maintainer @herbelin

/plugins/funind/        @forestjulien
# Secondary maintainer @Matafou

/plugins/ltac/          @ppedrot
# Secondary maintainer @herbelin

/plugins/micromega/    @coq/micromega-maintainers
/test-suite/micromega/ @coq/micromega-maintainers

/plugins/nsatz/         @thery
# Secondary maintainer @ppedrot

/plugins/setoid_ring/   @amahboubi
# Secondary maintainer @bgregoir

/plugins/ssrmatching/  @coq/ssreflect-maintainers
/plugins/ssr/          @coq/ssreflect-maintainers
/test-suite/ssr/       @coq/ssreflect-maintainers

/plugins/syntax/       @coq/parsing-maintainers

/plugins/rtauto/       @PierreCorbineau
# Secondary maintainer @herbelin

/user-contrib/Ltac2    @ppedrot

########## Pretyper ##########

/pretyping/       @mattam82
# Secondary maintainer @gares

/pretyping/vnorm.*     @maximedenes
/pretyping/nativenorm.* @maximedenes
# Secondary maintainer @ppedrot

########## Pretty printer ##########

/printing/        @herbelin
# Secondary maintainer @mattam82

########## Proof infrastructure ##########

/proofs/          @ppedrot
# Secondary maintainer @Zimmi48

########## STM ##########

/stm/                    @gares
/test-suite/interactive/ @gares
/test-suite/stm/         @gares
/test-suite/vio/         @gares
# Secondary maintainer   @ejgallego

########## Tactics ##########

/tactics/         @ppedrot
# Secondary maintainer @mattam82

/tactics/class_tactics.* @mattam82
/test-suite/typeclasses/ @mattam82
# Secondary maintainer   @ppedrot

########## Standard library ##########

/theories/Arith/          @herbelin

/theories/Bool/           @herbelin

/theories/Classes/        @mattam82
# Secondary maintainer @herbelin

/theories/FSets/          @herbelin

/theories/Init/           @ppedrot

/theories/Lists/          @ppedrot

/theories/Logic/          @herbelin
# Secondary maintainer @ppedrot

/theories/MSets/          @herbelin

/theories/NArith/         @herbelin

/theories/Numbers/        @herbelin

/theories/PArith/         @herbelin

/theories/Program/        @mattam82
# Secondary maintainer @herbelin

/theories/QArith/         @herbelin

/theories/Reals/          @coq/reals-library-maintainers

/theories/Relations/      @mattam82
# Secondary maintainer @ppedrot

/theories/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/theories/Sets/           @herbelin

/theories/Sorting/        @herbelin

/theories/Strings/        @herbelin

/theories/Structures/     @herbelin

/theories/Unicode/        @herbelin

/theories/Wellfounded/    @mattam82

/theories/ZArith/         @herbelin

/theories/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/theories/Vectors/        @herbelin

########## Tools ##########

/tools/coqdoc/         @silene
/test-suite/coqdoc/    @silene
# Secondary maintainer @mattam82

/tools/coq_makefile*      @gares
/tools/CoqMakefile*       @gares
/test-suite/coq-makefile/ @gares
# Secondary maintainer    @silene

/tools/coqdep*          @ppedrot
# Secondary maintainer @maximedenes

/tools/coq_tex*         @silene
# Secondary maintainer @gares

/tools/coqwc*          @silene
/test-suite/coqwc/     @silene
# Secondary maintainer @gares

/tools/TimeFileMaker.py                 @JasonGross
/tools/make-both-single-timing-files.py @JasonGross
/tools/make-both-time-files.py          @JasonGross
/tools/make-one-time-file.py            @JasonGross

########## Toplevel ##########

/toplevel/        @ejgallego
# Secondary maintainer @gares

########## Vernacular ##########

/vernac/          @mattam82
# Secondary maintainer @maximedenes

/vernac/metasyntax.*   @coq/parsing-maintainers

########## Test suite ##########

/test-suite/Makefile    @gares
/test-suite/_CoqProject @gares
/test-suite/README.md   @gares
# Secondary maintainer  @SkySkimmer

/test-suite/report.sh   @SkySkimmer

/test-suite/complexity/ @herbelin

/test-suite/unit-tests/src/ @jfehrle
# Secondary maintainer      @SkySkimmer

########## Developer tools ##########

/dev/tools/backport-pr.sh     @Zimmi48
# Secondary maintainer @maximedenes

/dev/tools/change-header      @herbelin

/dev/tools/check-eof-newline.sh @SkySkimmer

/dev/tools/coqdev.el @SkySkimmer

/dev/tools/github-check-prs.py @SkySkimmer

/dev/tools/merge-pr.sh @maximedenes
# Secondary maintainer @gares

/dev/tools/pre-commit @SkySkimmer

/dev/tools/check-owners*.sh @SkySkimmer
# Secondary maintainer @maximedenes

/dev/tools/update-compat.py @JasonGross
/test-suite/tools/update-compat/ @JasonGross
# Secondary maintainer @Zimmi48

########## Dune  ##########

/.ocamlinit            @ejgallego
*dune*                 @ejgallego
*.opam                 @ejgallego
# Secondary maintainer @Zimmi48
