*.glob
*.d
*.d.raw
*.vio
*.vo
*.cm*
*.annot
*.spit
*.spot
*.o
*.a
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.toc
*.atoc
*.comidx
*.comind
*.erridx
*.errind
*.haux
*.hcomind
*.herrind
*.hind
*.htacind
*.htoc
*.ind
*.lof
*.tacidx
*.tacind
*.v.tex
*.v.pdf
*.v.ps
*.v.html
*.stamp
*.native
revision
TAGS
.DS_Store
.pc
bin/
_build
plugins/*/*_mod.ml
myocamlbuild_config.ml
config/Makefile
config/coq_config.ml
config/Info-*.plist
dev/ocamldebug-coq
plugins/micromega/csdpcert
kernel/byterun/dllcoqrun.so
coqdoc.sty
csdp.cache
test-suite/lia.cache
test-suite/trace
test-suite/misc/universes/all_stdlib.v
test-suite/misc/universes/universes.txt

# documentation

doc/faq/html/
doc/refman/csdp.cache
doc/refman/trace
doc/refman/Reference-Manual.pdf
doc/refman/Reference-Manual.ps
doc/refman/Reference-Manual.html
doc/refman/Reference-Manual.out
doc/refman/Reference-Manual.sh
doc/refman/cover.html
doc/refman/styles.hva
doc/common/version.tex
doc/refman/coqide-queries.eps
doc/refman/coqide.eps
doc/refman/euclid.ml
doc/refman/euclid.mli
doc/refman/heapsort.ml
doc/refman/heapsort.mli
doc/refman/html/
doc/stdlib/Library.out
doc/stdlib/Library.pdf
doc/stdlib/Library.ps
doc/stdlib/Library.coqdoc.tex
doc/stdlib/FullLibrary.pdf
doc/stdlib/FullLibrary.ps
doc/stdlib/FullLibrary.coqdoc.tex
doc/stdlib/html/
doc/stdlib/index-body.html
doc/stdlib/index-list.html
doc/RecTutorial/RecTutorial.html
doc/RecTutorial/RecTutorial.pdf
doc/RecTutorial/RecTutorial.ps
dev/doc/naming-conventions.pdf

# .mll files

dev/ocamlweb-doc/lex.ml
ide/coq_lex.ml
ide/config_lexer.ml
ide/utf8_convert.ml
ide/highlight.ml
plugins/dp/dp_zenon.ml
tools/gallina_lexer.ml
tools/coqwc.ml
tools/coqdep_lexer.ml
tools/coqdoc/cpretty.ml
lib/xml_lexer.ml

# .ml4 files

g_*.ml

ide/project_file.ml
lib/pp.ml
parsing/compat.ml
grammar/q_util.ml
grammar/q_constr.ml
grammar/q_coqast.ml
grammar/tacextend.ml
grammar/vernacextend.ml
grammar/argextend.ml
parsing/pcoq.ml
parsing/lexer.ml
plugins/setoid_ring/newring.ml
plugins/field/field.ml
plugins/nsatz/nsatz.ml
tactics/tauto.ml
tactics/eauto.ml
tactics/hipattern.ml
tactics/class_tactics.ml
tactics/coretactics.ml
tactics/rewrite.ml
tactics/eqdecide.ml
tactics/extratactics.ml
tactics/extraargs.ml
toplevel/whelp.ml
ide/coqide_main.ml

# other auto-generated files

kernel/byterun/coq_jumptbl.h
kernel/copcodes.ml
tools/tolink.ml
theories/Numbers/Natural/BigN/NMake_gen.v
ide/index_urls.txt
lia.cache

# mlis documentation

dev/ocamldoc/html/
dev/ocamldoc/coq.*
dev/ocamldoc/ocamldoc.sty
dev/myinclude

# emacs save files
*~
\#*\#

# coqide generated files (when testing)
*.crashcoqide
