.gitattributes export-ignore
.gitignore export-ignore
.mailmap export-ignore

# Because our commit hook automatically does [apply whitespace=fix] we
# disable whitespace checking for all files except those where we want
# it. Otherwise rogue global configuration and forgotten local
# configuration can break commits. Note that git cannot fix but can
# detect a blank-at-eof when it comes from removing a chunk of text at
# the end of the file, leaving an extra newline from before that
# chunk, so we disable blank-at-eof.
* -whitespace

# in general we don't want tabs.
*.asciidoc whitespace=blank-at-eol,tab-in-indent
*.bib whitespace=blank-at-eol,tab-in-indent
*.c whitespace=blank-at-eol,tab-in-indent
*.css whitespace=blank-at-eol,tab-in-indent
*.dtd whitespace=blank-at-eol,tab-in-indent
dune* whitespace=blank-at-eol,tab-in-indent
*.dune whitespace=blank-at-eol,tab-in-indent
*.edit_mlg whitespace=blank-at-eol,tab-in-indent
*.el whitespace=blank-at-eol,tab-in-indent
*.fake whitespace=blank-at-eol,tab-in-indent
*.g whitespace=blank-at-eol,tab-in-indent
*.h whitespace=blank-at-eol,tab-in-indent
*.html whitespace=blank-at-eol,tab-in-indent
*.hva whitespace=blank-at-eol,tab-in-indent
*.js whitespace=blank-at-eol,tab-in-indent
*.json whitespace=blank-at-eol,tab-in-indent
*.lang whitespace=blank-at-eol,tab-in-indent
*.md whitespace=blank-at-eol,tab-in-indent
*.merlin whitespace=blank-at-eol,tab-in-indent
*.ml whitespace=blank-at-eol,tab-in-indent
*.mlg whitespace=blank-at-eol,tab-in-indent
*.mli whitespace=blank-at-eol,tab-in-indent
*.mll whitespace=blank-at-eol,tab-in-indent
*.mllib whitespace=blank-at-eol,tab-in-indent
*.mlp whitespace=blank-at-eol,tab-in-indent
*.mly whitespace=blank-at-eol,tab-in-indent
*.mlpack whitespace=blank-at-eol,tab-in-indent
*.nix whitespace=blank-at-eol,tab-in-indent
*.nsh whitespace=blank-at-eol,tab-in-indent
*.nsi whitespace=blank-at-eol,tab-in-indent
*.py whitespace=blank-at-eol,tab-in-indent
*.rst whitespace=blank-at-eol,tab-in-indent
*.sh whitespace=blank-at-eol,tab-in-indent
*.sty whitespace=blank-at-eol,tab-in-indent
*.tex whitespace=blank-at-eol,tab-in-indent
*.tokens whitespace=blank-at-eol,tab-in-indent
*.txt whitespace=blank-at-eol,tab-in-indent
*.v whitespace=blank-at-eol,tab-in-indent
*.xml whitespace=blank-at-eol,tab-in-indent
*.yml whitespace=blank-at-eol,tab-in-indent

.gitattributes whitespace=blank-at-eol,tab-in-indent
_CoqProject whitespace=blank-at-eol,tab-in-indent
Dockerfile whitespace=blank-at-eol,tab-in-indent

# multiple newlines at the end
00000-title.rst -whitespace

# tests location correctness with trailing whitespace
/test-suite/output-coqtop/BracketLoc.v -whitespace

# tabs are allowed in Makefiles.
Makefile* whitespace=blank-at-eol
tools/CoqMakefile.in whitespace=blank-at-eol

# CR is desired for these Windows files.
*.bat whitespace=cr-at-eol,blank-at-eol,tab-in-indent

# never do endline conversion
* -text
