*.glob
*.d
*.d.raw
*.vo
*.cm*
*.o
*.a
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.lof
*.toc
*.atoc
*.comidx
*.comind
*.tacidx
*.tacind
*.erridx
*.errind
*.ind
*.hcomind
*.htacind
*.herrind
*.hind
*.haux
*.htoc
*.v.tex
*.v.ps
*.v.pdf
*.v.html
bin
config/Makefile
config/coq_config.ml
contrib/dp/dp_zenon.ml
contrib/micromega/csdpcert
dev/ocamldebug-coq
dev/ocamlweb-doc/lex.ml
dev/ocamlweb-doc/syntax.ml
dev/ocamlweb-doc/syntax.mli
ide/config_lexer.ml
ide/config_parser.ml
ide/config_parser.mli
ide/highlight.ml
ide/index_urls.txt
ide/undo.mli
ide/utf8_convert.ml
ide/extract_index.ml
ide/find_phrase.ml
kernel/copcodes.ml
kernel/byterun/coq_jumptbl.h
scripts/tolink.ml
states/initial.coq
theories/Numbers/Natural/BigN/NMake.v
tools/coqdep_lexer.ml
tools/coqwc.ml
tools/gallina_lexer.ml
tools/coqdoc/pretty.ml
tools/coqdoc/index.ml
toplevel/mltop.byteml
toplevel/mltop.optml
doc/RecTutorial/RecTutorial.html
doc/common/version.tex
doc/faq/html
doc/RecTutorial/RecTutorial.pdf
doc/RecTutorial/RecTutorial.ps
doc/refman/Reference-Manual.html
doc/refman/Reference-Manual.sh
doc/refman/Reference-Manual.ps
doc/refman/Reference-Manual.pdf
doc/refman/coqide-queries.eps
doc/refman/coqide.eps
doc/refman/cover.html
doc/refman/euclid.ml
doc/refman/euclid.mli
doc/refman/heapsort.ml
doc/refman/heapsort.mli
doc/refman/html
doc/refman/styles.hva
doc/stdlib/Library.coqdoc.tex
doc/stdlib/Library.out
doc/stdlib/Library.pdf
doc/stdlib/Library.ps
doc/stdlib/html/
doc/stdlib/index-list.html
kernel/byterun/dllcoqrun.so
