*.glob
*.d
*.d.raw
*.vo
*.cm*
*.o
*.a
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.toc
*.atoc
*.comidx
*.comind
*.erridx
*.errind
*.haux
*.hcomind
*.herrind
*.hind
*.htacind
*.htoc
*.ind
*.lof
*.tacidx
*.tacind
*.v.tex
*.v.pdf
*.v.ps
*.v.html
revision
TAGS
bin/
config/Makefile
config/coq_config.ml
plugins/dp/dp_zenon.ml
dev/ocamldebug-coq
dev/ocamlweb-doc/lex.ml
dev/ocamlweb-doc/syntax.ml
dev/ocamlweb-doc/syntax.mli
ide/config_lexer.ml
ide/config_parser.ml
ide/config_parser.mli
ide/extract_index.ml
ide/find_phrase.ml
ide/highlight.ml
ide/undo.mli
ide/utf8_convert.ml
kernel/byterun/coq_jumptbl.h
kernel/byterun/dllcoqrun.so
kernel/copcodes.ml
scripts/tolink.ml
states/initial.coq
theories/Numbers/Natural/BigN/NMake.v
tools/coqdep_lexer.ml
tools/coqdoc/index.ml
tools/coqdoc/cpretty.ml
tools/coqwc.ml
tools/gallina_lexer.ml
toplevel/mltop.optml
plugins/micromega/csdpcert
toplevel/mltop.byteml
coqdoc.sty
ide/index_urls.txt
doc/faq/html/
doc/refman/Reference-Manual.pdf
doc/refman/Reference-Manual.ps
doc/refman/cover.html
doc/refman/styles.hva
doc/refman/Reference-Manual.html
doc/common/version.tex
doc/refman/Reference-Manual.sh
doc/refman/coqide-queries.eps
doc/refman/coqide.eps
doc/refman/euclid.ml
doc/refman/euclid.mli
doc/refman/heapsort.ml
doc/refman/heapsort.mli
doc/refman/html/
doc/stdlib/Library.out
doc/stdlib/Library.pdf
doc/stdlib/Library.ps
doc/stdlib/Library.coqdoc.tex
doc/stdlib/html/
doc/stdlib/index-body.html
doc/stdlib/index-list.html
doc/RecTutorial/RecTutorial.html
doc/RecTutorial/RecTutorial.pdf
doc/RecTutorial/RecTutorial.ps
_build
plugins/*/*_mod.ml
myocamlbuild_config.ml
