## Coq contributors
##
## This file allows joining the different accounts of a same person.
## Cf for instance: git shortlog -nse. More details via: man git shortlog
##
## To avoid spam issues, we use by default a pseudo-email <login@gforge>
## for all persons that haven't made commits with real emails
##
## If you're mentionned here and want to update your information,
## either amend this file and commit it, or contact the coqdev list

Abhishek Anand <abhishek.anand.iitg@gmail.com>     Abhishek Anand (@brixpro-home) <abhishek.anand.iitg@gmail.com>
Jim Apple <github.public@jbapple.com>              jbapple <github.public@jbapple.com>
Bruno Barras <bruno.barras@inria.fr>               barras <barras@85f007b7-540e-0410-9357-904b9bb8a0f7>
Bruno Barras <bruno.barras@inria.fr>               barras-local <barras-local@85f007b7-540e-0410-9357-904b9bb8a0f7>
CJ Bell <cj@csail.mit.edu>                         CJ Bell <siegebell@gmail.com>
Yves Bertot <yves.bertot@inria.fr>                 bertot <bertot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Yves Bertot <yves.bertot@inria.fr>                 Yves Bertot <bertot@inria.fr>
Yves Bertot <yves.bertot@inria.fr>                 Yves Bertot <Yves.Bertot@inria.fr>
Frédéric Besson <frederic.besson@inria.fr>         fbesson <fbesson@85f007b7-540e-0410-9357-904b9bb8a0f7>
Siddharth Bhat <siddu.druid@gmail.com>             Siddharth <siddu.druid@gmail.com>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> pboutill <pboutill@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> Pierre <pierre.boutillier@ens-lyon.org>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> Pierre Boutillier <pierre.boutillier@pps.univ-paris-diderot.fr>
Xavier Clerc <xavier.clerc@inria.fr>               xclerc <xclerc@85f007b7-540e-0410-9357-904b9bb8a0f7>
Xavier Clerc <xavier.clerc@inria.fr>               xclerc <xavier.clerc@inria.fr>
Pierre Corbineau <Pierre.Corbineau@NOSPAM@imag.fr> corbinea <corbinea@85f007b7-540e-0410-9357-904b9bb8a0f7>
Judicaël Courant <courant@gforge>                  courant <courant@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Courtieu <Pierre.Courtieu@cnam.fr>          courtieu <courtieu@85f007b7-540e-0410-9357-904b9bb8a0f7>
David Delahaye <delahaye@gforge>                   delahaye <delahaye@85f007b7-540e-0410-9357-904b9bb8a0f7>
Maxime Dénès <mail@maximedenes.fr>                 mdenes <mdenes@85f007b7-540e-0410-9357-904b9bb8a0f7>
Maxime Dénès <mail@maximedenes.fr>                 Maxime Denes <maximedenes@gillespie.inria.fr>
Olivier Desmettre <desmettr@gforge>                desmettr <desmettr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Damien Doligez <doligez@gforge>                    doligez <doligez@85f007b7-540e-0410-9357-904b9bb8a0f7>
Andres Erbsen <andreser@mit.edu>                   Andres Erbsen <andres@kevix.co>
Jim Fehrle <jfehrle@sbcglobal.net>                 Jim <jfehrle@sbcglobal.net>
Jean-Christophe Filliâtre <Jean-Christophe.Filliatre@lri.fr> filliatr <filliatr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Christophe Filliâtre <Jean-Christophe.Filliatre@lri.fr> Jean-Christophe Filliatre <Jean-Christophe.Filliatre@lri.fr>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@85f007b7-540e-0410-9357-904b9bb8a0f7>
Julien Forest <julien.forest@ensiie.fr>            forest <jforest@mourvedre.ensiie.fr>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@thune>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@daneel.lan.home>
Julien Forest <julien.forest@ensiie.fr>            Julien Forest <forest@ensiie.fr>
Emilio Jesus Gallego Arias <e+git@x80.org>         Emilio Jesús Gallego Arias <e+git@x80.org>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     <gaetan.gilbert@ens-lyon.fr>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     <gaetan.gilbert@skyskimmer.net>
Stéphane Glondu <steph@glondu.net>                 glondu <glondu@85f007b7-540e-0410-9357-904b9bb8a0f7>
Stéphane Glondu <steph@glondu.net>                 Stephane Glondu <steph@glondu.net>
Matěj Grabovský <mgrabovsky@yahoo.com>             Matěj G <mgrabovsky@users.noreply.github.com>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     Benjamin Gregoire <Benjamin.Gregoire@inria.fr>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     bgregoir <bgregoir@85f007b7-540e-0410-9357-904b9bb8a0f7>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     gregoire <gregoire@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jason Gross <jgross@mit.edu>                       Jason Gross <t-jagro@microsoft.com>
Jason Gross <jgross@mit.edu>                       Jason Gross <jasongross9@gmail.com>
Vincent Gross <vgross@gforge>                      vgross <vgross@85f007b7-540e-0410-9357-904b9bb8a0f7>
Huang Guan-Shieng <huang@gforge>                   huang <huang@85f007b7-540e-0410-9357-904b9bb8a0f7>
Hugo Herbelin <Hugo.Herbelin@inria.fr>             herbelin <herbelin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jasper Hugunin <jasperh@cs.washington.edu>         Jasper Hugunin <jasper@hashplex.com>
Tom Hutchinson <thutchin@gforge>                   thutchin <thutchin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Cezary Kaliszyk <cek@gforge>                       cek <cek@85f007b7-540e-0410-9357-904b9bb8a0f7>
Florent Kirchner <fkirchne@gforge>                 fkirchne <fkirchne@85f007b7-540e-0410-9357-904b9bb8a0f7>
Florent Kirchner <fkirchne@gforge>                 kirchner <kirchner@85f007b7-540e-0410-9357-904b9bb8a0f7>
Johannes Kloos <jkloos@mpi-sws.org>                jkloos <jkloos@mpi-sws.org>
Matej Košík <matej.kosik@inria.fr>                 Matej Kosik <m4tej.kosik@gmail.com>
Matej Košík <matej.kosik@inria.fr>                 Matej Kosik <matej.kosik@inria.fr>
Vincent Laporte <Vincent.Laporte@fondation-inria.fr> Vincent Laporte <Vincent.Laporte@gmail.com>
Marc Lasson <marc.lasson@gmail.com>                mlasson <marc.lasson@gmail.com>
William Lawvere <mundungus.corleone@gmail.com>     william-lawvere <mundungus.corleone@gmail.com>
Pierre Letouzey <pierre.letouzey@inria.fr>         letouzey <letouzey@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Letouzey <pierre.letouzey@inria.fr>         letouzey <pierre.letouzey@inria.fr>
Assia Mahboubi <assia.mahboubi@inria.fr>           amahboub <amahboub@85f007b7-540e-0410-9357-904b9bb8a0f7>
Evgeny Makarov <emakarov@gforge>                   emakarov <emakarov@85f007b7-540e-0410-9357-904b9bb8a0f7>
Gregory Malecha <gmalecha@eecs.harvard.edu>        Gregory Malecha <gmalecha@cs.harvard.edu>
Gregory Malecha <gmalecha@eecs.harvard.edu>        Gregory Malecha <gmalecha@gmail.com>
Lionel Elie Mamane <lmamane@gforge>                lmamane <lmamane@85f007b7-540e-0410-9357-904b9bb8a0f7>
Claude Marché <marche@gforge>                      marche <marche@85f007b7-540e-0410-9357-904b9bb8a0f7>
Micaela Mayero <mayero@gforge>                     mayero <mayero@85f007b7-540e-0410-9357-904b9bb8a0f7>
Guillaume Melquiond <guillaume.melquiond@inria.fr> gmelquio <gmelquio@85f007b7-540e-0410-9357-904b9bb8a0f7>
Guillaume Melquiond <guillaume.melquiond@inria.fr> Guillaume Melquiond <guillaume.melquiond@gmail.com>
Alexandre Miquel <miquel@gforge>                   miquel <miquel@85f007b7-540e-0410-9357-904b9bb8a0f7>
Benjamin Monate <monate@gforge>                    monate <monate@85f007b7-540e-0410-9357-904b9bb8a0f7>
Julien Narboux <jnarboux@gforge>                   jnarboux <jnarboux@85f007b7-540e-0410-9357-904b9bb8a0f7>
Julien Narboux <jnarboux@gforge>                   narboux <narboux@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Marc Notin <notin@gforge>                     notin,no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty <notin,no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Marc Notin <notin@gforge>                     notin <notin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Russell O'Connor <roconnor@blockstream.io>         roconnor <roconnor@85f007b7-540e-0410-9357-904b9bb8a0f7>
Russell O'Connor <roconnor@blockstream.io>         roconnor-blockstream <roconnor@blockstream.com>
Christine Paulin <cpaulin@gforge>                  cpaulin <cpaulin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Christine Paulin <cpaulin@gforge>                  mohring <mohring@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> ppedrot <ppedrot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Clément Pit-Claudel <clement.pitclaudel@live.com>  Clément Pit--Claudel <clement.pitclaudel@live.com>
Loïc Pottier <pottier@gforge>                      pottier <pottier@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthias Puech <puech@gforge>                      puech <puech@85f007b7-540e-0410-9357-904b9bb8a0f7>
Lars Rasmusson <lars.rasmusson@sics.se>            larsr <Lars.Rasmusson@sics.se>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> ddr <ddr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> Daniel De Rauglaudre <ddr@gforge>
Yann Régis-Gianas <yrg@pps.univ-paris-diderot.fr>  regisgia <regisgia@85f007b7-540e-0410-9357-904b9bb8a0f7>
Yann Régis-Gianas <yrg@pps.univ-paris-diderot.fr>  Regis-Gianas <yrg@pps.univ-paris-diderot.fr>
Clément Renard <clrenard@gforge>                   clrenard <clrenard@85f007b7-540e-0410-9357-904b9bb8a0f7>
Claudio Sacerdoti Coen <sacerdot@gforge>           sacerdot <sacerdot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Kazuhiko Sakaguchi <pi8027@gmail.com>              Kazuhiko Sakaguchi <sakaguchi@coins.tsukuba.ac.jp>
Vincent Siles <vsiles@gforge>                      vsiles <vsiles@85f007b7-540e-0410-9357-904b9bb8a0f7>
Michael Soegtrop <michael.soegtrop@intel.com>      Michael Soegtrop <7895506+MSoegtropIMC@users.noreply.github.com>
Elie Soubiran <soubiran@gforge>                    soubiran <soubiran@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthieu Sozeau <mattam@mattam.org>                msozeau <msozeau@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthieu Sozeau <mattam@mattam.org>                Matthieu Sozeau <matthieu.sozeau@inria.fr>
Matthieu Sozeau <mattam@mattam.org>                Matthieu Sozeau <mattam@eduroam-prg-sg-1-46-137.net.univ-paris-diderot.fr>
Arnaud Spiwack <arnaud@spiwack.net>                aspiwack <aspiwack@85f007b7-540e-0410-9357-904b9bb8a0f7>
Paul Steckler <steck@stecksoft.com>                Paul Steckler <psteck@mit.edu>
Enrico Tassi <Enrico.Tassi@inria.fr>               gareuselesinge <gareuselesinge@85f007b7-540e-0410-9357-904b9bb8a0f7>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico Tassi <enrico.tassi@inria.fr>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico Tassi <gares@fettunta.org>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico <gares@fettunta.org>
Laurent Théry <laurent.thery@inria.fr>             thery <thery@85f007b7-540e-0410-9357-904b9bb8a0f7>
Laurent Théry <laurent.thery@inria.fr>             thery <thery@sophia.inria.fr>
Laurent Théry <laurent.thery@inria.fr>             Laurent Théry <thery@sophia.inria.fr>
Anton Trunov <anton.a.trunov@gmail.com>            Anton Trunov <anton.trunov@imdea.org>
Benjamin Werner <werner@gforge>                    werner <werner@85f007b7-540e-0410-9357-904b9bb8a0f7>
Théo Zimmermann <theo.zimmermann@univ-paris-diderot.fr> Theo Zimmermann <theo.zimmermann@ens.fr>
Théo Zimmermann <theo.zimmermann@univ-paris-diderot.fr> Théo Zimmermann <theo.zimmi@gmail.com>

# Anonymous accounts

anonymous < >                                      coq <coq@85f007b7-540e-0410-9357-904b9bb8a0f7>
anonymous < >                                      (no author) <(no author)@85f007b7-540e-0410-9357-904b9bb8a0f7>
anonymous < >                                      serpyc <serpyc@85f007b7-540e-0410-9357-904b9bb8a0f7>
