## Rocq contributors
##
## This file allows joining the different accounts of a same person.
## Cf for instance: git shortlog -nse. More details via: man git shortlog
##
## To avoid spam issues, we use by default a pseudo-email <login@gforge>
## for all persons that haven't made commits with real emails
##
## If you're mentioned here and want to update your information,
## either amend this file and commit it, or contact the coqdev list

Guillaume Allais <guillaume.allais@ens-lyon.org>   gallais <guillaume.allais@ens-lyon.org>
Abhishek Anand <abhishek.anand.iitg@gmail.com>     Abhishek Anand (@brixpro-home) <abhishek.anand.iitg@gmail.com>
Abhishek Anand <abhishek.anand.iitg@gmail.com>     Abhishek Anand (optiplex7010@home) <abhishek.anand.iitg@gmail.com>
Léo Andrès <leo@ndrs.fr>                           zapashcanon <leo@ndrs.fr>
Jim Apple <github.public@jbapple.com>              jbapple <github.public@jbapple.com>
Bruno Barras <bruno.barras@inria.fr>               barras <barras@85f007b7-540e-0410-9357-904b9bb8a0f7>
Bruno Barras <bruno.barras@inria.fr>               barras-local <barras-local@85f007b7-540e-0410-9357-904b9bb8a0f7>
CJ Bell <cj@csail.mit.edu>                         CJ Bell <siegebell@gmail.com>
Yves Bertot <yves.bertot@inria.fr>                 bertot <bertot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Yves Bertot <yves.bertot@inria.fr>                 Yves Bertot <bertot@inria.fr>
Yves Bertot <yves.bertot@inria.fr>                 Yves Bertot <Yves.Bertot@inria.fr>
Yves Bertot <yves.bertot@inria.fr>                 Yves Bertot <bertot@nardis.inria.fr>
Frédéric Besson <frederic.besson@inria.fr>         Frederic Besson <frederic.besson@inria.fr>
Frédéric Besson <frederic.besson@inria.fr>         fbesson <fbesson@85f007b7-540e-0410-9357-904b9bb8a0f7>
Frédéric Besson <frederic.besson@inria.fr>         BESSON Frederic <frederic.besson@inria.fr>
Frédéric Besson <frederic.besson@inria.fr>         fajb <fajb@users.noreply.github.com>
Siddharth Bhat <siddu.druid@gmail.com>             Siddharth <siddu.druid@gmail.com>
Lasse Blaauwbroek <lasse@blaauwbroek.eu>           Lasse Blaauwbroek <lasse@lasse-work.localdomain>
Martin Bodin <martin.bodin@ens-lyon.org>           Martin Bodin <mbodin@ic.ac.uk>
Martin Bodin <martin.bodin@ens-lyon.org>           Martin Bodin <martin.bodin@inria.fr>
Ana Borges <ana.agvb@gmail.com>                    Ana <ana.agvb@gmail.com>
Ana Borges <ana.agvb@gmail.com>                    ana-borges <ana-borges@users.noreply.github.com>
Simon Boulier <simon.boulier@ens-rennes.fr>        SimonBoulier <simon.boulier@ens-rennes.fr>
Simon Boulier <simon.boulier@ens-rennes.fr>        SimonBoulier <SimonBoulier@users.noreply.github.com>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> pboutill <pboutill@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> Pierre <pierre.boutillier@ens-lyon.org>
Pierre Boutillier <pierre.boutillier@ens-lyon.org> Pierre Boutillier <pierre.boutillier@pps.univ-paris-diderot.fr>
Michele Caci <michele.caci@gmail.com>              mcaci <michele.caci@gmail.com>
Ali Caglayan <alizter@gmail.com>                   Alizter <Alizter@users.noreply.github.com>
Arthur Charguéraud <arthur@chargueraud.org>        charguer <arthur@chargueraud.org>
chluebi <42419603+chluebi@users.noreply.github.com>  chluebi <42419603+chluebi@users.noreply.github.com>
Xavier Clerc <xavier.clerc@inria.fr>               xclerc <xclerc@85f007b7-540e-0410-9357-904b9bb8a0f7>
Xavier Clerc <xavier.clerc@inria.fr>               xclerc <xavier.clerc@inria.fr>
Cyril Cohen <cyril.cohen@crans.org>                Cyril Cohen <cohen@crans.org>
Cyril Cohen <cyril.cohen@crans.org>                Cyril Cohen <CohenCyril@users.noreply.github.com>
Cyril Cohen <cyril.cohen@crans.org>                CohenCyril <CohenCyril@users.noreply.github.com>
Juan Conejero <juanconrod@protonmail.com>                 Juan C <juanconrod@protonmail.com>
Pierre Corbineau <Pierre.Corbineau@NOSPAM@imag.fr> corbinea <corbinea@85f007b7-540e-0410-9357-904b9bb8a0f7>
Judicaël Courant <courant@gforge>                  courant <courant@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Courtieu <Pierre.Courtieu@cnam.fr>          courtieu <courtieu@85f007b7-540e-0410-9357-904b9bb8a0f7>
David Delahaye <delahaye@gforge>                   delahaye <delahaye@85f007b7-540e-0410-9357-904b9bb8a0f7>
Maxime Dénès <mail@maximedenes.fr>                 mdenes <mdenes@85f007b7-540e-0410-9357-904b9bb8a0f7>
Maxime Dénès <mail@maximedenes.fr>                 Maxime Denes <maximedenes@gillespie.inria.fr>
Maxime Dénès <mail@maximedenes.fr>                 Maxime Dénès <maxime.denes@fondation-inria.fr>
Maxime Dénès <mail@maximedenes.fr>                 Maxime Dénès <maxime.denes@inria.fr>
Maxime Dénès <mail@maximedenes.fr>                 maximedenes <maximedenes@users.noreply.github.com>
Stéphane Desarzens <8899730+Columbus240@users.noreply.github.com>     Columbus240 <8899730+Columbus240@users.noreply.github.com>
Olivier Desmettre <desmettr@gforge>                desmettr <desmettr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Christian Doczkal <christian.doczkal@inria.fr>     Christian Doczkal <christian.doczkal@ens-lyon.fr>
Damien Doligez <doligez@gforge>                    doligez <doligez@85f007b7-540e-0410-9357-904b9bb8a0f7>
İsmail Dönmez <ismail-s@users.noreply.github.com>  Ismail <ismail-s@users.noreply.github.com>
formalize.eth <formalize@protonmail.com>           ilya <ilya@localhost.localdomain>
Andres Erbsen <andreser@mit.edu>                   Andres Erbsen <andres@kevix.co>
Andres Erbsen <andreser@mit.edu>                   andres-erbsen <andres-erbsen@users.noreply.github.com>
Jim Fehrle <jim.fehrle@gmail.com>                  Jim <jfehrle@sbcglobal.net>
Jim Fehrle <jim.fehrle@gmail.com>                  Jim Fehrle <jim.fehrle@gmail.com>
Jim Fehrle <jim.fehrle@gmail.com>                  jfehrle <jfehrle@users.noreply.github.com>
Jim Fehrle <jim.fehrle@gmail.com>                  Jim Fehrle <jfehrle@sbcglobal.net>
Jean-Christophe Filliâtre <Jean-Christophe.Filliatre@lri.fr> filliatr <filliatr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Christophe Filliâtre <Jean-Christophe.Filliatre@lri.fr> Jean-Christophe Filliatre <Jean-Christophe.Filliatre@lri.fr>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@85f007b7-540e-0410-9357-904b9bb8a0f7>
Julien Forest <julien.forest@ensiie.fr>            forest <jforest@mourvedre.ensiie.fr>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@thune>
Julien Forest <julien.forest@ensiie.fr>            jforest <jforest@daneel.lan.home>
Julien Forest <julien.forest@ensiie.fr>            Julien Forest <forest@ensiie.fr>
Emilio Jesús Gallego Arias <e@x80.org>             Emilio Jesus Gallego Arias <e+git@x80.org>
Emilio Jesús Gallego Arias <e@x80.org>             Emilio Jesús Gallego Arias <e+git@x80.org>
Emilio Jesús Gallego Arias <e@x80.org>             ejgallego <ejgallego@users.noreply.github.com>
Emilio Jesús Gallego Arias <e@x80.org>             ejgallego <e+git@x80.org>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     <gaetan.gilbert@ens-lyon.fr>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     <gaetan.gilbert@skyskimmer.net>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     SkySkimmer <SkySkimmer@users.noreply.github.com>
Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>     <Gaëtan Gilbert <gaetan.gilbert@skyskimmer.net>
Paolo G. Giarrusso <p.giarrusso@gmail.com>         Blaisorblade <p.giarrusso@gmail.com>
Stéphane Glondu <steph@glondu.net>                 glondu <glondu@85f007b7-540e-0410-9357-904b9bb8a0f7>
Stéphane Glondu <steph@glondu.net>                 Stephane Glondu <steph@glondu.net>
Matěj Grabovský <mgrabovsky@yahoo.com>             Matěj G <mgrabovsky@users.noreply.github.com>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     Benjamin Gregoire <Benjamin.Gregoire@inria.fr>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     bgregoir <bgregoir@85f007b7-540e-0410-9357-904b9bb8a0f7>
Benjamin Grégoire <benjamin.gregoire@inria.fr>     gregoire <gregoire@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jason Gross <jgross@mit.edu>                       Jason Gross <t-jagro@microsoft.com>
Jason Gross <jgross@mit.edu>                       Jason Gross <jasongross9@gmail.com>
Jason Gross <jgross@mit.edu>                       JasonGross <JasonGross@users.noreply.github.com>
Vincent Gross <vgross@gforge>                      vgross <vgross@85f007b7-540e-0410-9357-904b9bb8a0f7>
Samuel Gruetter <samuel.gruetter@epfl.ch>          Samuel Gruetter <saemi472@gmail.com>
Huang Guan-Shieng <huang@gforge>                   huang <huang@85f007b7-540e-0410-9357-904b9bb8a0f7>
Armaël Guéneau <armael.gueneau@ens-lyon.org>       Armael <armael@isomorphis.me>
Armaël Guéneau <armael.gueneau@ens-lyon.org>       Armaël Guéneau <armael.gueneau@ens-lyon.fr>
Hugo Herbelin <Hugo.Herbelin@inria.fr>             herbelin <herbelin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Hugo Herbelin <Hugo.Herbelin@inria.fr>             Hugo Herbelin <herbelin@users.noreply.github.com>
Hugo Herbelin <Hugo.Herbelin@inria.fr>             herbelin <herbelin@users.noreply.github.com>
Wolf Honore <wolfhonore@gmail.com>                 whonore <wolfhonore@gmail.com>
Jasper Hugunin <jasper@hugunin.net>                Jasper Hugunin <jasperh@cs.washington.edu>
Jasper Hugunin <jasper@hugunin.net>                Jasper Hugunin <jasper@hashplex.com>
Tom Hutchinson <thutchin@gforge>                   thutchin <thutchin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Bodo Igler <bodo.igler@hs-rm.de>                   igler <bodo.igler@hs-rm.de>

Jacques-Henri Jourdan <jacques-henri.jourdan@normalesup.org> Jacques-Henri Jourdan <jacques-henri.jourdan@inria.fr>
Pierre Jouvelot <pierre.jouvelot@mines-paristech.fr> jouvelot <pierre.jouvelot@mines-paristech.fr>
Jan-Oliver Kaiser <janno@mpi-sws.org>              Janno <Janno@users.noreply.github.com>
Jan-Oliver Kaiser <janno@mpi-sws.org>              Jan-Oliver Kaiser <janno@bedrocksystems.com>
Cezary Kaliszyk <cek@gforge>                       cek <cek@85f007b7-540e-0410-9357-904b9bb8a0f7>
Wojciech Karpiel <w.karpiel@o2.pl>                 WojciechKarpiel <w.karpiel@o2.pl>
Wojciech Karpiel <w.karpiel@o2.pl>                 Wojciech Karpiel <w.karpiel@avsystem.com>
Florent Kirchner <fkirchne@gforge>                 fkirchne <fkirchne@85f007b7-540e-0410-9357-904b9bb8a0f7>
Florent Kirchner <fkirchne@gforge>                 kirchner <kirchner@85f007b7-540e-0410-9357-904b9bb8a0f7>
Johannes Kloos <jkloos@mpi-sws.org>                jkloos <jkloos@mpi-sws.org>
Matej Košík <matej.kosik@inria.fr>                 Matej Kosik <m4tej.kosik@gmail.com>
Matej Košík <matej.kosik@inria.fr>                 Matej Kosik <matej.kosik@inria.fr>
Matej Košík <matej.kosik@inria.fr>                 Matej Košík <mail@matej-kosik.net>
Ethan A. Kuefner <ek@conjectu.red>                 e kuefner <ek@conjectu.red>
Ambroise Lafont <chaster_killer@hotmail.fr>        amblaf <you@example.com>
Ambroise Lafont <chaster_killer@hotmail.fr>        Ambroise <chaster_killer@hotmail.fr>
Vincent Laporte <Vincent.Laporte@inria.fr>         Vincent Laporte <Vincent.Laporte@gmail.com>
Vincent Laporte <Vincent.Laporte@inria.fr>         Vincent Laporte <Vincent.Laporte@fondation-inria.fr>
Marc Lasson <marc.lasson@gmail.com>                mlasson <marc.lasson@gmail.com>
Olivier Laurent <olivier.laurent@ens-lyon.fr>      olaure01 <olaure01@users.noreply.github.com>
Olivier Laurent <olivier.laurent@ens-lyon.fr>      Olivier Laurent <30601497+olaure01@users.noreply.github.com>
William Lawvere <mundungus.corleone@gmail.com>     william-lawvere <mundungus.corleone@gmail.com>
Larry Darryl Lee Jr. <llee454@gmail.com>           llee454@gmail.com <llee454@gmail.com>
Larry Darryl Lee Jr. <llee454@gmail.com>           Larry D. Lee Jr <llee454@gmail.com>
Xavier Leroy <xavier.leroy@college-de-france.fr>   Xavier Leroy <xavier.leroy@inria.fr>
Pierre Letouzey <pierre.letouzey@inria.fr>         letouzey <letouzey@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre Letouzey <pierre.letouzey@inria.fr>         letouzey <pierre.letouzey@inria.fr>
Nick Lewycky <nicholas@mxc.ca>                     nlewycky <nicholas@mxc.ca>
Yishuai Li <yishuai@cis.upenn.edu>                 Yishuai Li <yishuai@upenn.edu>
Yishuai Li <yishuai@cis.upenn.edu>                 Yishuai Li <liyishuai@users.noreply.github.com>
Assia Mahboubi <assia.mahboubi@inria.fr>           amahboub <amahboub@85f007b7-540e-0410-9357-904b9bb8a0f7>
Kenji Maillard <kenji.maillard@inria.fr>           Kenji Maillard <kenji@maillard.blue>
Evgeny Makarov <emakarov@gforge>                   emakarov <emakarov@85f007b7-540e-0410-9357-904b9bb8a0f7>
Gregory Malecha <gmalecha@eecs.harvard.edu>        Gregory Malecha <gmalecha@cs.harvard.edu>
Gregory Malecha <gmalecha@eecs.harvard.edu>        Gregory Malecha <gmalecha@gmail.com>
Lionel Elie Mamane <lmamane@gforge>                lmamane <lmamane@85f007b7-540e-0410-9357-904b9bb8a0f7>
Claude Marché <marche@gforge>                      marche <marche@85f007b7-540e-0410-9357-904b9bb8a0f7>
Micaela Mayero <mayero@gforge>                     mayero <mayero@85f007b7-540e-0410-9357-904b9bb8a0f7>
Guillaume Melquiond <guillaume.melquiond@inria.fr> gmelquio <gmelquio@85f007b7-540e-0410-9357-904b9bb8a0f7>
Guillaume Melquiond <guillaume.melquiond@inria.fr> Guillaume Melquiond <guillaume.melquiond@gmail.com>
Guillaume Melquiond <guillaume.melquiond@inria.fr> silene <silene@users.noreply.github.com>
Alexandre Miquel <miquel@gforge>                   miquel <miquel@85f007b7-540e-0410-9357-904b9bb8a0f7>
Benjamin Monate <monate@gforge>                    monate <monate@85f007b7-540e-0410-9357-904b9bb8a0f7>
Erik Martin-Dorel <erik.martin-dorel@irit.fr>      Erik Martin-Dorel <erik@martin-dorel.org>
Erik Martin-Dorel <erik.martin-dorel@irit.fr>      erikmd <erikmd@users.noreply.github.com>
Julien Narboux <jnarboux@gforge>                   jnarboux <jnarboux@85f007b7-540e-0410-9357-904b9bb8a0f7>
Julien Narboux <jnarboux@gforge>                   narboux <narboux@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Marc Notin <notin@gforge>                     notin,no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty <notin,no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Marc Notin <notin@gforge>                     notin <notin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Russell O'Connor <roconnor@blockstream.io>         roconnor <roconnor@85f007b7-540e-0410-9357-904b9bb8a0f7>
Russell O'Connor <roconnor@blockstream.io>         roconnor-blockstream <roconnor@blockstream.com>
Sotaro Okada <soukouki0@yahoo.co.jp>               soukouki <soukouki0@yahoo.co.jp>
Carl Patenaude-Poulin <carlpaten@protonmail.com>   Carl Patenaude Poulin <carl.patenaudepoulin@mail.mcgill.ca>
Christine Paulin <cpaulin@gforge>                  cpaulin <cpaulin@85f007b7-540e-0410-9357-904b9bb8a0f7>
Christine Paulin <cpaulin@gforge>                  mohring <mohring@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> ppedrot <ppedrot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> Pierre-Marie Pédrot <pierre-marie.pedrot@irif.fr>
Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> ppedrot <ppedrot@users.noreply.github.com>
Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> <Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr>
Frederic Peschanski <frederic.peschanski@lip6.fr>  fredokun <frederic.peschanski@lip6.fr>
Rudy Peterson <rnp39@cornell.edu>                  rnp39 <rnp39@cornell.edu>
Clément Pit-Claudel <clement.pitclaudel@live.com>  Clément Pit--Claudel <clement.pitclaudel@live.com>
Clément Pit-Claudel <clement.pitclaudel@live.com>  Clément Pit-Claudel <cpitclaudel@users.noreply.github.com>
Loïc Pottier <pottier@gforge>                      pottier <pottier@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthias Puech <puech@gforge>                      puech <puech@85f007b7-540e-0410-9357-904b9bb8a0f7>
Ramkumar Ramachandra <r@artagnon.com>              Ramkumar Ramachandra <artagnon@gmail.com>
Robert Rand <rnrand@gmail.com>                     Robert Rand <rxtreme@gmail.com>
Lars Rasmusson <lars.rasmusson@sics.se>            larsr <Lars.Rasmusson@sics.se>
Lars Rasmusson <lars.rasmusson@sics.se>            larsr <Lars.Rasmusson@gmail.com>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> ddr <ddr@85f007b7-540e-0410-9357-904b9bb8a0f7>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr>
Daniel de Rauglaudre <daniel.de_rauglaudre@inria.fr> Daniel De Rauglaudre <ddr@gforge>
Yann Régis-Gianas <yrg@pps.univ-paris-diderot.fr>  regisgia <regisgia@85f007b7-540e-0410-9357-904b9bb8a0f7>
Yann Régis-Gianas <yrg@pps.univ-paris-diderot.fr>  Regis-Gianas <yrg@pps.univ-paris-diderot.fr>
Clément Renard <clrenard@gforge>                   clrenard <clrenard@85f007b7-540e-0410-9357-904b9bb8a0f7>
Jean-Pierre Rodi <jprodi04@gmail.com>              JPR <jprodi04@gmail.com>
Jean-Pierre Rodi <jprodi04@gmail.com>              Fourchaux <jprodi04@gmail.com>
Pierre Rousselin <rousselin@math.univ-paris13.fr>  Villetaneuse <Villetaneuse@users.noreply.github.com>
Pierre Roux <pierre@roux01.fr>                     Pierre Roux <pierre.roux@onera.fr>
Pierre Roux <pierre@roux01.fr>                     proux01 <proux01@users.noreply.github.com>
Matthew Ryan <mr_1993@hotmail.co.uk>               mrmr1993 <mr_1993@hotmail.co.uk>
Claudio Sacerdoti Coen <sacerdot@gforge>           sacerdot <sacerdot@85f007b7-540e-0410-9357-904b9bb8a0f7>
Kazuhiko Sakaguchi <pi8027@gmail.com>              Kazuhiko Sakaguchi <sakaguchi@coins.tsukuba.ac.jp>
Kazuhiko Sakaguchi <pi8027@gmail.com>              Kazuhiko Sakaguchi <sakaguchi@peano-system.jp>
Kazuhiko Sakaguchi <pi8027@gmail.com>              pi8027 <pi8027@users.noreply.github.com>
Vincent Siles <vsiles@gforge>                      vsiles <vsiles@85f007b7-540e-0410-9357-904b9bb8a0f7>
Kartik Singhal <kartiksinghal@gmail.com>           Kartik Singhal <ks@cs.uchicago.edu>
Michael Soegtrop <michael.soegtrop@intel.com>      Michael Soegtrop <7895506+MSoegtropIMC@users.noreply.github.com>
Michael Soegtrop <michael.soegtrop@intel.com>      MSoegtropIMC <7895506+MSoegtropIMC@users.noreply.github.com>
Michael Soegtrop <michael.soegtrop@intel.com>      MSoegtropIMC <MSoegtropIMC@users.noreply.github.com>
Elie Soubiran <soubiran@gforge>                    soubiran <soubiran@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthieu Sozeau <mattam@mattam.org>                msozeau <msozeau@85f007b7-540e-0410-9357-904b9bb8a0f7>
Matthieu Sozeau <mattam@mattam.org>                Matthieu Sozeau <matthieu.sozeau@inria.fr>
Matthieu Sozeau <mattam@mattam.org>                Matthieu Sozeau <mattam@eduroam-prg-sg-1-46-137.net.univ-paris-diderot.fr>
Matthieu Sozeau <mattam@mattam.org>                mattam82 <mattam82@users.noreply.github.com>
Matthieu Sozeau <mattam@mattam.org>                mattam82 <matthieu.sozeau@inria.fr>
Arnaud Spiwack <arnaud@spiwack.net>                aspiwack <aspiwack@85f007b7-540e-0410-9357-904b9bb8a0f7>
Naveen Srinivasan <172697+naveensrinivasan@users.noreply.github.com> naveen <172697+naveensrinivasan@users.noreply.github.com>
Paul Steckler <steck@stecksoft.com>                Paul Steckler <psteck@mit.edu>
Frank Steffahn <fdsteffahn@gmail.com>              staffehn <fdsteffahn@gmail.com>
Sergei Stepanenko <kaptch@gmail.com>               Kaptch <kaptch@gmail.com>

Enrico Tassi <Enrico.Tassi@inria.fr>               gareuselesinge <gareuselesinge@85f007b7-540e-0410-9357-904b9bb8a0f7>
Enrico Tassi <Enrico.Tassi@inria.fr>               <Enrico.Tassi@inria.fr>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico Tassi <enrico.tassi@inria.fr>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico Tassi <gares@fettunta.org>
Enrico Tassi <Enrico.Tassi@inria.fr>               Enrico <gares@fettunta.org>
Enrico Tassi <Enrico.Tassi@inria.fr>               gares <gares@users.noreply.github.com>
Enrico Tassi <Enrico.Tassi@inria.fr>               gares <gares@fettunta.org>
Hendrik Tews <Hendrik.Tews@kernkonzept.com>        Hendrik Tews <tews@elite.askra.de>
Laurent Théry <laurent.thery@inria.fr>             thery <thery@85f007b7-540e-0410-9357-904b9bb8a0f7>
Laurent Théry <laurent.thery@inria.fr>             thery <thery@sophia.inria.fr>
Laurent Théry <laurent.thery@inria.fr>             Laurent Théry <thery@sophia.inria.fr>
Laurent Théry <laurent.thery@inria.fr>             thery <Laurent.Thery@inria.fr>
Laurent Théry <laurent.thery@inria.fr>             thery <thery@users.noreply.github.com>
Anton Trunov <anton.a.trunov@gmail.com>            Anton Trunov <anton.trunov@imdea.org>
Anton Trunov <anton.a.trunov@gmail.com>            Anton Trunov <anton@zilliqa.com>
Anton Trunov <anton.a.trunov@gmail.com>            anton-trunov <anton-trunov@users.noreply.github.com>
Oliver Turner <aryaelfren@aryaelfren.eu>           Arya-Elfren <aryaelfren@aryaelfren.eu>
Quentin Vermande <quentin.vermande@orange.fr>      Quentin Vermande <quentin.vermande@orange.fr>
Quentin Vermande <quentin.vermande@orange.fr>      qvermande <quentin.vermande@ens.psl.eu>
Benjamin Werner <werner@gforge>                    werner <werner@85f007b7-540e-0410-9357-904b9bb8a0f7>
Li-yao Xia <lysxia@gmail.com>                      Lysxia <lysxia@gmail.com>
Li-yao Xia <lysxia@gmail.com>                      Xia Li-yao <lysxia@gmail.com>
Li-yao Xia <lysxia@gmail.com>                      Xia Li-yao <Lysxia@users.noreply.github.com>
Wang Zhuyang <hawnzug@gmail.com>                   hawnzug <hawnzug@gmail.com>
Beta Ziliani <beta@mpi-sws.org>                    Beta Ziliani <bziliani@famaf.unc.edu.ar>
Beta Ziliani <beta@mpi-sws.org>                    beta <beta@mpi-sws.org>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Théo Zimmermann <theo.zimmermann@inria.fr>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Theo Zimmermann <theo.zimmermann@ens.fr>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Théo Zimmermann <theo.zimmi@gmail.com>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Théo Zimmermann <theo.zimmermann@univ-paris-diderot.fr>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Zimmi48 <theo.zimmermann@univ-paris-diderot.fr>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> Zimmi48 <Zimmi48@users.noreply.github.com>
Théo Zimmermann <theo.zimmermann@telecom-paris.fr> <Théo Zimmermann <theo.zimmermann@inria.fr>

# Anonymous accounts

anonymous < >                                      coq <coq@85f007b7-540e-0410-9357-904b9bb8a0f7>

# Bot accounts

coqbot <coqbot@users.noreply.github.com>           coqbot-app[bot] <50967743+coqbot-app[bot]@users.noreply.github.com>
cvs2svn < >                                        (no author) <(no author)@85f007b7-540e-0410-9357-904b9bb8a0f7>
serpyc-bot < >                                     serpyc <serpyc@85f007b7-540e-0410-9357-904b9bb8a0f7>
