version=0.14.2
profile=ocamlformat

# to enable a whole directory, put "disable=false" in dir/.ocamlformat
# to enable specific files put them in .ocamlformat-enable
disable=true

module-item-spacing=compact
sequence-style=terminator
cases-exp-indent=2
field-space=loose
exp-grouping=preserve
break-cases=fit
doc-comments=before
