post-messages: [
  "Coq has been renamed to The Rocq Prover, see https://rocq-prover.org/refman/changes.html#porting-to-the-rocq-prover for details. 
   This package provides compatibility binaries to ease the transition to the new rocq binary."
]
