build: [
  ["dune" "subst"] {dev}
  [ "./configure"
    "-prefix" prefix
    "-mandir" man
    "-libdir" "%{lib}%/coq"
    "-native-compiler" "yes" {coq-native:installed} "no" {!coq-native:installed}
  ]
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "--promote-install-files=false"
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
  ["dune" "install" "-p" name "--create-install-files" name]
]
