Source: coq
Section: devel
Priority: optional
Maintainer: Judicaël Courant <Judicael.Courant@lri.fr>
Standards-Version: 3.0.1
Build-Depends: debhelper (>= 2), ocaml (>= 3.00-1), camlp4 (>= 3.00-1)

Package: coq
Architecture: any
Depends: ${shlibs:Depends}
Suggests: coq-doc, ocaml (>= 3.00-1), camlp4 (>= 3.00-1)
Description: a proof assistant for higher-order logic.
 Coq is a proof assistant for higher-order logic, which allows the
 development of computer programs consistent with their formal
 specification. It is developed using Objective Caml and Camlp4.
