Source: coq
Section: devel
Priority: optional
Maintainer: Judicaël Courant <Judicael.Courant@lri.fr>
Standards-Version: 3.5.3
Build-Depends: debhelper (>= 3), timeout, ocaml (>= 3.04)

Package: coq
Architecture: any
Depends: ${shlibs:Depends}
Suggests: coq-doc, ocaml (>= 3.04), cle
Recommends: coq-doc, proofgeneral-coq
Description: a proof assistant for higher-order logic.
 Coq is a proof assistant for higher-order logic, which allows the
 development of computer programs consistent with their formal
 specification. It is developed using Objective Caml and Camlp4.
 For more information, see <http://coq.inria.fr/>.

